* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

#header {
  margin: 0;
  padding: 10px 25% 10px 25%;
}

@media (max-width: 999px) {
  #header {
    padding: 10px 2% 10px 2%;
  }
}

#main, #footer {
  margin-left: 25%;
  margin-right: 25%;
  max-width: 600px;
}

@media (max-width: 999px) {
  #main, #footer {
    margin-left: 2%;
  }
}

#header, #footer {
  background-color: #7dc5ee;
}

#header > h1 {
  color: rgba(0, 0, 0, 0.8);
  font: 48px Verdana;
  font-weight: bold;
}

#main > h2 {
  color: #333;
  font: 36px Verdana;
  margin-top: 24px;
  margin-bottom: 16px;
}

p {
  color: rgba(0, 0, 0, 0.8);
  margin-top: 8px;
  font: 21px Georgia;
  line-height: 28px;
  margin-bottom: 8px;
}

ul {
  margin-left: 30px;
}

li {
  color: rgba(0, 0, 0, 0.8);
  margin-top: 6px;
  font: 20px Georgia;
  line-height: 27px;
  margin-bottom: 6px;
}

#main blockquote {
  margin-left: 50px;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 6px;
  font: 21px Georgia;
  line-height: 28px;
  margin-bottom: 10px;
}

#main blockquote p {
  font-size: 18px;
  line-height: 24px;
}

#sidebar {
  position: absolute;
  left: 77%;
  right: 2%;
  max-width: 300px;
  margin-top: 8px;
}

#sidebar p {
  font-size: small;
  line-height: 18px;
}

@media (max-width: 999px) {
  #sidebar {
    left: 76%;
    right: 1%;
  }
  #sidebar p {
    font-size: x-small;
    line-height: 16px;
  }
}

.marginnote {
  position: absolute;
  left: 77%;
  right: 2%;
  max-width: 300px;
  font-size: small;
  line-height: 20px;
}

@media (max-width: 999px) {
  .marginnote {
    left: 76%;
    right: 1%;
    font-size: xx-small;
  }
}

a {
  text-decoration: none;
  color: #1864ab;
}

a:hover {
  text-decoration: underline;
}







