<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body lang="{{ .Site.Params.lang }}">
  <div id="header">
    <h1>
      {{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
      {{ if eq $url "/" }}
          {{ .Site.Title }}
      {{ else }}
          {{ if .Params.heading }} {{ .Params.heading }} {{ else }} {{ .Title }} {{ end }}
      {{ end }}
    </h1>
    <p>
      <a href="{{ .Site.BaseURL }}">{{ .Site.Params.author }}</a>{{ if eq .Section "blog" }} | {{ .Date.Format "January 2006" }} {{ end }}
    </p>
  </div>
  